mat-card {
  max-width: 90%;
  margin: auto;
  padding: 20px;
}

mat-card-title{
  font-weight: bold;
}


@media (max-width: 768px) {
  mat-card {
    padding: 10px;
    max-width: 90%;
  }
}

.footer-button {
  display: flex;
  justify-content: flex-end;
}
