mat-card {
  max-width: 90%;
  margin: auto;
  padding: 20px;
}

mat-card-title{
  font-weight: bold;
}

label {
  font-weight: bold;
  margin-right: 5px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  mat-card {
    padding: 10px;
    max-width: 100%;
  }
}

input {
  border-radius: 4px;
  border: 1px solid;
  padding: 8px 12px;
  font-size: 14px;
  transition: border-color 0.3s;
  max-width: 250px;
}

.footer-button {
  display: flex;
  justify-content: flex-end;
}
