<mat-card xmlns="http://www.w3.org/1999/html">
  <mat-card-header>
    <mat-card-title>Edit Car {{ car?.vin }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form *ngIf="carForm" [formGroup]="carForm">
      <div *ngFor="let field of carFormFields" class="form-field">
        <label>{{ field.label }}</label>
        <input *ngIf="field.type === 'text'" type="text" [formControlName]="field.controlName">
        <input *ngIf="field.type === 'number'" type="number" [formControlName]="field.controlName">
      </div>
      <div class="footer-button">
        <app-button
          (click)="onSaveCar()"
          [disabled]="!carForm.valid"
          [buttonText]="'Save'">
        </app-button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
